* {
    margin: 0;
    padding: 0;
    background-color: rgb(210, 241, 241);
}


.enter-chat {
    
    color: rgb(13, 13, 13);
}

#room-name-input {
    width: 150px;
    background-color: rgba(46, 198, 29, 0.399);
    margin-bottom: 10px;
}

#room-name-submit {
    color: rgb(189, 28, 101);
    width: 150px;
}

.form-username {
    color: rgb(23, 89, 89);
}

#main-block-index {
    border: #030418 2px solid;
    width: 100px;
    height: 100px;
}

.container {
    position: relative;

}

.content-index {
    width: 1100px;
    height: 600px;
    margin-left: 300px;
    /* padding-left: 300px;
    padding-top: 50px; */
    margin-top: 125px;
    position: absolute;
    border: #1879ba 2px solid;
    border-radius: 10px;
    
}

.container-index {
    margin-left: 0px;
    margin-top: 40px;
    height: 445px;
    width: 500px;
    border: #1879ba 2px solid;
    border-radius: 10px;
    position: absolute;
    display: table;
    overflow: auto;
    
}

.users-index {
    margin-left: 600px;
    margin-top: 100px;
    height: 300px;
    width: 500px;
    border: #1879ba 2px solid;
    border-radius: 10px;
    position: absolute;
    
}

.user-info{
    width:110px; 
    height:50px; 
    background:#f1f1f1; 
    float:left; 
    margin: 0 15px 15px 0; 
    text-align:center;
    padding: 10px;
    border: #1879ba 2px solid;
    border-radius: 10px;
}

#btn-example {
    margin-top: 0px;
}

.btn-main {
    width: 100px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #1526bb;
    cursor: pointer;
    opacity: 0.9;
    color:antiquewhite
}

.btn-main:hover {
    cursor: pointer;
    opacity: 1.5;
}

.btn-profile {
    cursor: pointer;
    width:60px;
    height:40px;
    background-color: #1879ba;

}

.btn {
  cursor: pointer;
  width:60px;
  height:20px;
  margin:5px;
  background-color:rgb(130, 38, 38);
  display:inline-block;
}

.btn-chat-start {
    cursor: pointer;
    width:120px;
    height:30px;
    margin:5px;
    background-color: #71f20eac;
    border-radius: 10px;
}


.profile {

    padding-top: 25px;
    padding-left: 10px;

}
.profile a {
    color: white;
}

.chats-user {
    position: absolute;
    margin-top: 120px;
    width: 250px;
    height: 250px;
    padding-left: 20px;
}

.user-list-chat {
    /* border: #1879ba 2px solid;
    border-radius: 10px; */
    /* height: 200px; */
    width: 450px;
    margin-left: 0px;
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;

}

#chat-log {
    background-color: #e4d1d1c7;
    border: #1879ba 1px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 50px;
    width: 590px;
}

.enter-text {
    display: flex;
    margin-top: 20px;
    margin-left: 0px;
}

.room-content {
    margin-top: 50px;
    margin-left: 25px;
    width: 800px;
}

#chat-message-input {
    width: 450px;
    border-radius: 10px;
    margin-left: 50px;
    border: #1879ba 1px solid;

}

#chat-message-submit {
    margin-left: 50px;
    margin-top: 0px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #28cc4e;
    cursor: pointer;
    opacity: 0.9;
}

#chat-message-submit:hover {
    opacity: 1.3;
}

.current-user {
    /* border: #030418 2px solid; */
    border-radius: 50%;
    margin-left: 50px;
    height: 135px;
    width: 135px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;

}

.current-user img {
    /* border: #030418 2px solid; */
    border-radius: 50%;
    margin-left: 50px;
    height: 135px;
    width: 135px;
    margin: 0;
    margin-top: 0px;
    cursor: pointer;
}

.current-user p {
    font-size: 24px;
}

.current-user-index {
    /* border: #030418 2px solid; */
    /* display: table-cell; */
    display: inline-block;
    border-radius: 50%;
    margin-left: 50px;
    height: 135px;
    width: 135px;
    margin-top: 10px;
    text-align: center;

}

.current-user-index img {
    /* border: #030418 2px solid; */
    border-radius: 50%;
    margin-left: 50px;
    height: 135px;
    width: 135px;
    margin: 0;
    margin-top: 0px;
    cursor: pointer;
}

.current-user-index p {
    font-size: 24px;
}

#all-users-message {
    padding-bottom: 0px;
}

.username {
    display: flex;
}

.btn-delete-chat {
    margin-top: 50px;
    margin-left: 50px;
}

.delete-chat {
    width: 100px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #cc0505;
    cursor: pointer;
    opacity: 0.9;
}

.delete-chat:hover {
    opacity: 1.3;
}

.btn-profile-link {
    width: 100px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #174cb4;
    cursor: pointer;
    opacity: 0.9;
    margin-top: 10px;
}

#logout {
    width: 100px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #ea2424;
    cursor: pointer;
    opacity: 0.9;
    margin-top: 10px;
}

.chat-name-current {
    margin-top: 50px;
    margin-left: 150px;
    width: 300px;
    font-size: 24px;
    text-align: center;
}

#main-room-chat{
    float: left;
}

#btn-logout {
    cursor: pointer;
    background-color: #e0ef16;
    width: 130px;
    height: 40px;
    border-radius: 10px;
}

.header-bar {
    margin-left: 50px;
    margin-top: 100px;

}

.header-bar img {
    border-radius: 10px;
}

/* .edit-profile {
    cursor: pointer;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: #030418 1px solid;
} */

#edit-profile {
    display: inline-block; /* Строчно-блочный элемент */
    
    background: #37e987; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1rem;/*  Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 10px; /* Скругляем уголки */
    margin-left: 0px;
}

#edit-fname {
    display: inline-block; /* Строчно-блочный элемент */
    
    background: #37e987; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1rem;/*  Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 10px; /* Скругляем уголки */
    margin-left: 0px;
}


#profile-link {
    display: inline-block; /* Строчно-блочный элемент */
    background: #2a96e2; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 0.5rem 0.5rem;/*  Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 10px; /* Скругляем уголки */
    margin-left: 0px;
}

#all-users-message {
    padding-top: 5px;
    padding-left: 5px;
}

.add-users{
    color: #cc0505;
    margin-left: 100px;
    margin-top: 50px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}

.add-users p {
    margin-top: 0px;
    font-size: 24px;
    padding-top: 0;
}

.user-info-add p {
    color: #030418;
    font-size: 18px;
}


.add-user-in-chat {
    width: 100px;
    height: 40px;
    margin-left: 20px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #2494d5;
    cursor: pointer;
    opacity: 0.9;
}

.add-user-in-chat:hover {
    opacity: 1.3;
}

.user-info-add {
    text-align: center;
    margin-top: 0;
    width: 200px;
}

.all-content-room {
    display: flex;
}