{%extends 'flatpages/default.html'%}
{% load static %}
{% block content %}
    <div class="chat-name-current">
        <span>Чат: </span>
        <span class="chat-name"></span>
        <button class="btn-main" id="main-room-chat" type="submit" onClick="location.href={% url 'chat:index' %}">На главную</button>
    </div>
    <div class="room-content">
    <textarea id="chat-log" cols="100" rows="20" disabled></textarea><br>
    <div class="enter-text">
        <input id="chat-message-input" type="text" size="100" placeholder="Введите сообщение">
        <input id="chat-message-submit" type="button" value="Send">
    </div>
    {{ room_name|json_script:"room-name" }}
    <div class="username">
        {% if user.is_authenticated %}
            
            <div class="user-list-chat">

            </div>
            <div class="btn-delete-chat">
                
            </div>
        {%else%}
            <p>Анонимный</p>
        {%endif%}
    </div>
    </div>
    <!-- {{ room_name|json_script:"room-name" }} -->
    <script src="{% static 'reconnecting-websocket.js' %}"></script>
    <script>
        const roomName = {{room_name}};
        const userName = {{ username }};
        console.log(roomName, userName);
        document.querySelector('.chat-name').insertAdjacentHTML("afterbegin", roomName);
        const btnDelete = `<button class="delete-chat" value="${roomName}">Удалить чат</button>`;
        document.querySelector('.btn-delete-chat').insertAdjacentHTML("afterbegin", btnDelete);
        const btnDel = document.querySelector('.delete-chat');

        fetch("http://127.0.0.1:8000/api/chat_messages/" + roomName)
        .then(response => {
            return response.json()
        })
        .then(data => {
            console.log(data);
            data.forEach(element => {
                console.log(element.time);
                document.querySelector('#chat-log').value += (element.content + '\n');
                document.querySelector('#chat-log').value += (element.time + '\n');
                document.querySelector('#chat-log').value += (element.author + '\n');
            });
        })
        .catch(error => {
            console.log('error', error);
        });

        const chatSocket = new ReconnectingWebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

    
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data.message.author)
            console.log(data.message.time)
            console.log(data.message.content)
            
            document.querySelector('#chat-log').value += (data.message.content + '\n');
            document.querySelector('#chat-log').value += (data.message.time + '\n');
            document.querySelector('#chat-log').value += (data.message.author + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'command': 'new_message',
                'from': userName
            }));
            
            messageInputDom.value = '';
        };

        btnDel.onclick = function(event) {
            console.log(`Нажата кнопка удалить чат ${btnDel.value}`);
            fetch('http://127.0.0.1:8000/api/chat/'+ btnDel.value, {
                method:'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
            })
            .then(response => {
                if (!response.ok) {
                    console.log('Problem');
                    return;
                }
                window.location.pathname = '/chat/';
            })
            .then(data => {
                console.log('Succes');
            })
            .catch(error => {
                console.log('error', error);
            })
        };

        fetch("http://127.0.0.1:8000/api/chat_user/" + roomName)
        .then(response => {
            return response.json()
        })
        .then(data => {
            console.log(data);
            data.forEach(element => {
                console.log(element.profile);
                const currentUser = `<div class="current-user"><p>${element.username}</p><a href="http://127.0.0.1:8000/accounts/profile/${element.profile}/"><img src="${element.photo ? element.photo: "https://media.istockphoto.com/id/587805156/ru/%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F/%D0%B8%D0%BB%D0%BB%D1%8E%D1%81%D1%82%D1%80%D0%B0%D1%86%D0%B8%D1%8F-%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%B0-%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F-%D0%BF%D1%80%D0%BE%D1%84%D0%B8%D0%BB%D1%8F.jpg?s=612x612&w=0&k=20&c=Vasy13hTP6OTfbFcNsMu4OpRZ148nTKgFLOjFv9Za_8="}" alt="На голубом фоне смайлик" width="135" height="135" class="current-user"></a></div>`;
                document.querySelector('.user-list-chat').insertAdjacentHTML("afterbegin", currentUser);
            });
        })
        .catch(error => {
            console.log('error', error);
        });
    </script>
{% endblock content %}