{% extends 'flatpages/default.html' %}
{% block content %}
{% if profiles %}
  {% for profile in profiles %}
    <div class="profile">
      <p>{{profile.user.username}}</p>
      <img src="{{profile.photo.url}}" alt="avatar" width="150" height="150">
      <p>{{profile.id}}</p>
        <div class="wrapper-profiles">
          <a href="#" class="btn">{{profile.user.username}}</a>
        </div>
    </div>
  {%endfor%}
{% else %}
    <h4>Нет профилей, вы будете первым</h4>
{% endif %}

{% endblock content %}